<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT about_Page ANY>
<!ATTLIST about_Page id ID #REQUIRED>
<!ELEMENT navigatable ANY>
<!ATTLIST navigatable id ID #REQUIRED>
<!ELEMENT urlNavigation ANY>
<!ATTLIST urlNavigation id ID #REQUIRED>
<!ELEMENT overviewed ANY>
<!ATTLIST overviewed id ID #REQUIRED>
<!ELEMENT headingBase ANY>
<!ATTLIST headingBase id ID #REQUIRED>
<!ELEMENT keywordsBase ANY>
<!ATTLIST keywordsBase id ID #REQUIRED>
<!ELEMENT languageBase ANY>
<!ATTLIST languageBase id ID #REQUIRED>
<!ELEMENT seoBase ANY>
<!ATTLIST seoBase id ID #REQUIRED>
<!ELEMENT sitemapBase ANY>
<!ATTLIST sitemapBase id ID #REQUIRED>
<!ELEMENT robots ANY>
<!ATTLIST robots id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT websiteSettings ANY>
<!ATTLIST websiteSettings id ID #REQUIRED>
<!ELEMENT scriptsSettings ANY>
<!ATTLIST scriptsSettings id ID #REQUIRED>
<!ELEMENT errorPage ANY>
<!ATTLIST errorPage id ID #REQUIRED>
<!ELEMENT blogPage ANY>
<!ATTLIST blogPage id ID #REQUIRED>
<!ELEMENT BlogPostPage ANY>
<!ATTLIST BlogPostPage id ID #REQUIRED>
<!ELEMENT compositionsDump ANY>
<!ATTLIST compositionsDump id ID #REQUIRED>
<!ELEMENT service_List_Page ANY>
<!ATTLIST service_List_Page id ID #REQUIRED>
<!ELEMENT service_Category_Page ANY>
<!ATTLIST service_Category_Page id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT home_Page ANY>
<!ATTLIST home_Page id ID #REQUIRED>
<!ELEMENT contacts_Page ANY>
<!ATTLIST contacts_Page id ID #REQUIRED>
<!ELEMENT service_Item_Page ANY>
<!ATTLIST service_Item_Page id ID #REQUIRED>
<!ELEMENT projects_Page ANY>
<!ATTLIST projects_Page id ID #REQUIRED>
]>
<root id="-1">
  <home_Page id="5163" key="7c224b4c-e2c5-4232-bf1b-57676370afa4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-08-29T03:05:02" updateDate="2019-08-30T03:06:48" nodeName="Главная" urlName="home_page" path="-1,5163" isDoc="" nodeType="5160" creatorName="Developer" writerName="Developer" writerID="0" template="5159" nodeTypeAlias="home_Page" isPublished="true">
    <naviTitle><![CDATA[Главная]]></naviTitle>
    <umbracoNavihide>0</umbracoNavihide>
    <umbracoUrlName><![CDATA[/home_page]]></umbracoUrlName>
    <seoNoFollow>0</seoNoFollow>
    <seoNoIndex>0</seoNoIndex>
    <excludeFromSitemap>0</excludeFromSitemap>
    <headerBackgroundImage><![CDATA[umb://media/8c378d988a8c400ab9da7e5064d105e9]]></headerBackgroundImage>
    <service_List_Page id="5175" key="a213c4ad-e9b0-4ac7-9c8e-47ab136d31d8" parentID="5163" level="2" creatorID="0" sortOrder="1" createDate="2019-08-29T05:45:23" updateDate="2019-08-30T01:44:16" nodeName="Список услуг" urlName="service_list_page" path="-1,5163,5175" isDoc="" nodeType="5138" creatorName="Developer" writerName="Developer" writerID="0" template="5137" nodeTypeAlias="service_List_Page" isPublished="true">
      <naviTitle><![CDATA[Список услуг]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/service_list_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <headerBackgroundImage><![CDATA[umb://media/bd1833141dca4bb89dd54271c8426d95]]></headerBackgroundImage>
    </service_List_Page>
    <service_Category_Page id="5176" key="4e2811f8-b24d-48f7-a207-5e10aeba10eb" parentID="5163" level="2" creatorID="0" sortOrder="2" createDate="2019-08-29T05:47:05" updateDate="2019-08-30T01:43:57" nodeName="Виды ремонтов квартир" urlName="service_category_page" path="-1,5163,5176" isDoc="" nodeType="5141" creatorName="Developer" writerName="Developer" writerID="0" template="5140" nodeTypeAlias="service_Category_Page" isPublished="true">
      <naviTitle><![CDATA[Виды ремонтов квартир]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/service_category_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <headerBackgroundImage><![CDATA[umb://media/40799f787d2f4242a9e7bcf67be475ca]]></headerBackgroundImage>
    </service_Category_Page>
    <about_Page id="5228" key="7fa672f2-12e3-442f-8237-7f75bde2e694" parentID="5163" level="2" creatorID="0" sortOrder="3" createDate="2019-08-29T06:31:23" updateDate="2019-08-30T06:05:40" nodeName="О компании" urlName="about_page" path="-1,5163,5228" isDoc="" nodeType="5225" creatorName="Developer" writerName="Developer" writerID="0" template="5227" nodeTypeAlias="about_Page" isPublished="true">
      <naviTitle><![CDATA[О компании]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/about_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <photo_2><![CDATA[umb://media/cfcdf6f34eb048329e65edb420ce8652]]></photo_2>
      <photo_Callback_bg><![CDATA[umb://media/25b5f2150a454c348b19733e7396bad5]]></photo_Callback_bg>
      <constructionManagerPicture><![CDATA[umb://media/e5094bb018eb4b9da1b688b304c196d5]]></constructionManagerPicture>
      <photo_1><![CDATA[umb://media/788ae05747144385b590d132aa954a2f]]></photo_1>
      <headerBackgroundImage><![CDATA[umb://media/7906e56b08574d41ac9e18e7ecbe43fd]]></headerBackgroundImage>
      <companyExecutivePicture><![CDATA[umb://media/aae6446f1c1f418087cf609c542a6711]]></companyExecutivePicture>
    </about_Page>
    <contacts_Page id="5229" key="0b120591-9b0e-4cd8-bf5a-4856758cf49e" parentID="5163" level="2" creatorID="0" sortOrder="4" createDate="2019-08-29T06:38:52" updateDate="2019-08-30T01:11:15" nodeName="Контакты" urlName="contacts_page" path="-1,5163,5229" isDoc="" nodeType="5165" creatorName="Developer" writerName="Developer" writerID="0" template="5230" nodeTypeAlias="contacts_Page" isPublished="true">
      <naviTitle><![CDATA[Контакты]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/contacts_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
    </contacts_Page>
    <projects_Page id="5231" key="9ddad3c0-e1e2-47d9-85e7-0016a91c9465" parentID="5163" level="2" creatorID="0" sortOrder="5" createDate="2019-08-29T06:49:18" updateDate="2019-08-30T01:51:39" nodeName="Выполненные проекты" urlName="projects_page" path="-1,5163,5231" isDoc="" nodeType="5172" creatorName="Developer" writerName="Developer" writerID="0" template="5173" nodeTypeAlias="projects_Page" isPublished="true">
      <naviTitle><![CDATA[Выполненные проекты]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/projects_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <headerBackgroundImage><![CDATA[umb://media/8c169f18a4e44305a44ca84ff4cb5fb5]]></headerBackgroundImage>
    </projects_Page>
    <service_Item_Page id="5232" key="f331262c-1603-47bf-998c-48c633e9d47b" parentID="5163" level="2" creatorID="0" sortOrder="6" createDate="2019-08-29T06:52:54" updateDate="2019-08-30T02:44:38" nodeName="Ремонт квартиры-студии" urlName="service_item_page" path="-1,5163,5232" isDoc="" nodeType="5169" creatorName="Developer" writerName="Developer" writerID="0" template="5170" nodeTypeAlias="service_Item_Page" isPublished="true">
      <naviTitle><![CDATA[Ремонт квартиры-студии]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/service_item_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <headerBackgroundImage><![CDATA[umb://media/ee70cb23bdc744e5809dff09e85961d4]]></headerBackgroundImage>
    </service_Item_Page>
  </home_Page>
</root>