<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT projects ANY>
<!ATTLIST projects id ID #REQUIRED>
<!ELEMENT service_Item ANY>
<!ATTLIST service_Item id ID #REQUIRED>
<!ELEMENT service_Category_Page ANY>
<!ATTLIST service_Category_Page id ID #REQUIRED>
<!ELEMENT service_List_Page ANY>
<!ATTLIST service_List_Page id ID #REQUIRED>
<!ELEMENT navigatable ANY>
<!ATTLIST navigatable id ID #REQUIRED>
<!ELEMENT urlNavigation ANY>
<!ATTLIST urlNavigation id ID #REQUIRED>
<!ELEMENT overviewed ANY>
<!ATTLIST overviewed id ID #REQUIRED>
<!ELEMENT headingBase ANY>
<!ATTLIST headingBase id ID #REQUIRED>
<!ELEMENT keywordsBase ANY>
<!ATTLIST keywordsBase id ID #REQUIRED>
<!ELEMENT languageBase ANY>
<!ATTLIST languageBase id ID #REQUIRED>
<!ELEMENT seoBase ANY>
<!ATTLIST seoBase id ID #REQUIRED>
<!ELEMENT sitemapBase ANY>
<!ATTLIST sitemapBase id ID #REQUIRED>
<!ELEMENT robots ANY>
<!ATTLIST robots id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT websiteSettings ANY>
<!ATTLIST websiteSettings id ID #REQUIRED>
<!ELEMENT scriptsSettings ANY>
<!ATTLIST scriptsSettings id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT errorPage ANY>
<!ATTLIST errorPage id ID #REQUIRED>
<!ELEMENT blogPage ANY>
<!ATTLIST blogPage id ID #REQUIRED>
<!ELEMENT BlogPostPage ANY>
<!ATTLIST BlogPostPage id ID #REQUIRED>
<!ELEMENT compositionsDump ANY>
<!ATTLIST compositionsDump id ID #REQUIRED>
<!ELEMENT aboutPage ANY>
<!ATTLIST aboutPage id ID #REQUIRED>
<!ELEMENT contacts ANY>
<!ATTLIST contacts id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="2096" key="a8851f36-b661-4343-a32a-646fd0703ef5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-05-09T12:09:31" updateDate="2019-08-27T04:32:50" nodeName="Главная" urlName="main_page" path="-1,2096" isDoc="" nodeType="1090" creatorName="Developer" writerName="Developer" writerID="0" template="1072" nodeTypeAlias="homePage" isPublished="true">
    <naviTitle><![CDATA[Главная]]></naviTitle>
    <umbracoNavihide>0</umbracoNavihide>
    <umbracoUrlName><![CDATA[/main_page]]></umbracoUrlName>
    <seoMetaDescription><![CDATA[qqq]]></seoMetaDescription>
    <seoTitle><![CDATA[Главная Imperium]]></seoTitle>
    <seoNoFollow>0</seoNoFollow>
    <seoNoIndex>0</seoNoIndex>
    <excludeFromSitemap>0</excludeFromSitemap>
    <aboutPage id="5125" key="eb3f33b6-25ef-4322-97e0-1e26d70314de" parentID="2096" level="2" creatorID="0" sortOrder="3" createDate="2019-08-22T00:35:37" updateDate="2019-08-27T04:31:59" nodeName="О компании" urlName="about_page" path="-1,2096,5125" isDoc="" nodeType="5124" creatorName="Developer" writerName="Developer" writerID="0" template="5129" nodeTypeAlias="aboutPage" isPublished="true">
      <naviTitle><![CDATA[О компании]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/about_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
    </aboutPage>
    <contacts id="5132" key="304e9612-72b8-46ba-ae90-88cc59b2e024" parentID="2096" level="2" creatorID="0" sortOrder="4" createDate="2019-08-22T04:52:36" updateDate="2019-08-27T04:31:41" nodeName="Контакты" urlName="contacts_page" path="-1,2096,5132" isDoc="" nodeType="5131" creatorName="Developer" writerName="Developer" writerID="0" template="5130" nodeTypeAlias="contacts" isPublished="true">
      <naviTitle><![CDATA[Контакты]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/contacts_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
    </contacts>
    <service_List_Page id="5139" key="d5244fc1-5eb8-4b23-94f4-d288af58e6fe" parentID="2096" level="2" creatorID="0" sortOrder="5" createDate="2019-08-27T01:00:19" updateDate="2019-08-27T04:31:19" nodeName="Список услуг" urlName="service_list_page" path="-1,2096,5139" isDoc="" nodeType="5138" creatorName="Developer" writerName="Developer" writerID="0" template="5137" nodeTypeAlias="service_List_Page" isPublished="true">
      <naviTitle><![CDATA[Список услуг]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/service_list_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
    </service_List_Page>
    <service_Category_Page id="5142" key="d39cb5f6-4904-4504-a683-5f33c259bed9" parentID="2096" level="2" creatorID="0" sortOrder="6" createDate="2019-08-27T02:22:59" updateDate="2019-08-27T05:26:07" nodeName="Виды ремонтов квартир" urlName="servise_category_page" path="-1,2096,5142" isDoc="" nodeType="5141" creatorName="Developer" writerName="Developer" writerID="0" template="5140" nodeTypeAlias="service_Category_Page" isPublished="true">
      <naviTitle><![CDATA[Виды ремонтов квартир]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/servise_category_page]]></umbracoUrlName>
      <seoMetaDescription><![CDATA[Виды ремонтов]]></seoMetaDescription>
      <seoTitle><![CDATA[Виды ремонтов]]></seoTitle>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
    </service_Category_Page>
    <service_Item id="5146" key="16e36e22-b457-4f1c-8fd4-f8cfb19741f5" parentID="2096" level="2" creatorID="0" sortOrder="7" createDate="2019-08-27T03:36:47" updateDate="2019-08-27T04:36:29" nodeName="Ремонт квартиры-студии" urlName="servise_item_page" path="-1,2096,5146" isDoc="" nodeType="5144" creatorName="Developer" writerName="Developer" writerID="0" template="5145" nodeTypeAlias="service_Item" isPublished="true">
      <naviTitle><![CDATA[Ремонт квартиры-студии]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/servise_item_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
    </service_Item>
    <projects id="5151" key="bd6f4d92-72fe-4c3f-9e63-e2a2891030ef" parentID="2096" level="2" creatorID="0" sortOrder="8" createDate="2019-08-27T04:28:31" updateDate="2019-08-27T05:36:18" nodeName="Выполненные проекты" urlName="projects_page" path="-1,2096,5151" isDoc="" nodeType="5148" creatorName="Developer" writerName="Developer" writerID="0" template="5150" nodeTypeAlias="projects" isPublished="true">
      <naviTitle><![CDATA[Выполненные проекты]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/projects_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
    </projects>
  </homePage>
</root>