@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>

@{ 
    var Главная                  = Model.AncestorOrSelf<Home_Page>();
    var navigation               = Главная.VisibleChildren();
    var urlВидыРемонтовКвартир   = navigation.Where(x => x is Service_Category_Page).First().Url;
    var urlРемонтКвСтудии        = navigation.Where(x => x is Service_Item_Page).First().Url;
    var urlРемонт_1ккв           = navigation.Where(x => x is Repair_1kkv_Page).First().Url;
    var urlРемонт_2ккв           = navigation.Where(x => x is Repair_2kkv_Page).First().Url;
    var urlРемонт_3ккв           = navigation.Where(x => x is Repair_3kkv_Page).First().Url;
    var urlРемонт_4ккв           = navigation.Where(x => x is Repair_4kkv_Page).First().Url;

    var urlSvg_Symbol            = Главная.Svg_Symbols.Url;
    var urlSvg_Creator           = Главная.Svg_Creator.Url;
    
    var textНомерТелефона_1      = Главная.PhoneNumber_1;
    var textНомерТелефона_2      = Главная.PhoneNumber_2;

}

<footer class="page-footer">
    <div class="wrapper">
        <div class="page-footer__main">
            <div class="page-footer__nav">
                
                <div class="col">
                    <span class="title">Ремонт комнат</span>
                    <ul>
                        <li><a href="#">Ванная и туалет</a></li>
                        <li><a href="#">Кухня</a></li>
                        <li><a href="#">Гостиная</a></li>
                        <li><a href="#">Спальня</a></li>
                        <li><a href="#">Детская</a></li>
                    </ul>
                </div>

                <div class="col">
                    <span class="title">Ремонт квартир</span>
                    <ul>
                        <li><a href="@urlРемонтКвСтудии">Квартира-студия</a></li>
                        <li><a href="@urlРемонт_1ккв">1-комнатная квартира</a></li>
                        <li><a href="@urlРемонт_2ккв">2-комнатная квартира</a></li>
                        <li><a href="@urlРемонт_3ккв">3-комнатная квартира</a></li>
                        <li><a href="@urlРемонт_4ккв">4-комнатная квартира</a></li>
                    </ul>
                </div>

                <div class="col">
                    <span class="title">Ремонт домов</span>
                    <ul>
                        <li><a href="#">Коттедж</a></li>
                        <li><a href="#">Таунхаус</a></li>
                        <li><a href="#">Загородный дом</a></li>
                        <li><a href="#">Дача</a></li>
                    </ul>
                </div>
                <div class="col">
                    <span class="title">Нежилые помещения</span>
                    <ul>
                        <li><a href="#">Офис</a></li>
                        <li><a href="#">Гостиница / Хостел</a></li>
                        <li><a href="#">Ресторан / Кафе</a></li>
                        <li><a href="#">Магазин</a></li>
                    </ul>
                </div>
            </div>

            <div class="page-footer__contacts">
                <p>
                    <a href="tel:89516664146">@textНомерТелефона_1</a><span class="br"></span>
                    <a href="tel:89117153259">@textНомерТелефона_2</a>
                </p>
                <p>
                    По будням: с 09 до 20<span class="br"></span>
                    Суббота: с 9 до 15.
                </p>
                <p><a href="mailto:info@imperio-stroy.ru">info@imperio-stroy.ru</a></p>
                <div class="social-icons">
                    <a href="#"><svg class="icon icon-inst"><use xlink:href="@urlSvg_Symbol#icon-inst"></use></svg></a>
                    <a href="#"><svg class="icon icon-fb"><use xlink:href="@urlSvg_Symbol#icon-fb"></use></svg></a>
                    <a href="#"><svg class="icon icon-vk"><use xlink:href="@urlSvg_Symbol#icon-vk"></use></svg></a>
                </div>
            </div>
        </div>

        <div class="page-footer__dev">
            <a href="/" class="logo">Imperio-Stroy</a>
            <a href="#" class="conf">Политика конфиденциальности</a>
            <a href="https://webevolution.ru/" class="creator" title="webevolution">
                <img src="@urlSvg_Creator"
                     alt="webevolution">
            </a>
        </div>
    </div>
</footer>

