@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_Layout.cshtml";
}

<main>
    <section class="projects-list-block block-default">
        <div class="wrapper">
            <ul class="breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Выполненные проекты</a></li>
            </ul>
            <header class="block-default__header">
                <h2>Выполненые проекты</h2>
                <p><span class="colored">За годы работы мы сделали ремонт в более чем 200 квартирах.</span><span class="br"></span>Вот несколько примеров наших работ.</p>
            </header>

            <div class="projects-list-block__filter">
                <button class="switcher">
                    <span class="switcher__label default">стандарт</span>
                    <span class="switcher__tumbler"></span>
                    <span class="switcher__label">премиум</span>
                </button>

                <ul>
                    <li><button class="active">Ремонт Квартиры</button></li>
                    <li><button>Ремонт дома</button></li>
                    <li><button>РЕМОНТ  КОМНАТЫ</button></li>
                    <li><button>коммерческие помещения</button></li>
                </ul>
            </div>

            <div>
                <div class="projects-list-block__list">
                    <a href="#" class="project-item">
                        <span class="img">
                            <span>
                                <img src="~/assets/images/content/realty/2.png" alt="alt">
                            </span>
                        </span>
                        <span class="desc">
                            <small>ПРЕМИУМ <span>60 м<sup>2</sup></span></small>
                            <span class="title">2-комнатная квартира</span>
                        </span>
                    </a>
                    <a href="#" class="project-item">
                        <span class="img">
                            <span>
                                <img src="~/assets/images/content/realty/2.png" alt="alt">
                            </span>
                        </span>
                        <span class="desc">
                            <small>ПРЕМИУМ <span>60 м<sup>2</sup></span></small>
                            <span class="title">2-комнатная квартира</span>
                        </span>
                    </a>
                    <a href="#" class="project-item">
                        <span class="img">
                            <span>
                                <img src="~/assets/images/content/realty/2.png" alt="alt">
                            </span>
                        </span>
                        <span class="desc">
                            <small>ПРЕМИУМ <span>60 м<sup>2</sup></span></small>
                            <span class="title">2-комнатная квартира</span>
                        </span>
                    </a>
                    <a href="#" class="project-item">
                        <span class="img">
                            <span>
                                <img src="~/assets/images/content/realty/2.png" alt="alt">
                            </span>
                        </span>
                        <span class="desc">
                            <small>ПРЕМИУМ <span>60 м<sup>2</sup></span></small>
                            <span class="title">2-комнатная квартира</span>
                        </span>
                    </a>
                    <a href="#" class="project-item">
                        <span class="img">
                            <span>
                                <img src="~/assets/images/content/realty/2.png" alt="alt">
                            </span>
                        </span>
                        <span class="desc">
                            <small>ПРЕМИУМ <span>60 м<sup>2</sup></span></small>
                            <span class="title">2-комнатная квартира</span>
                        </span>
                    </a>
                    <a href="#" class="project-item">
                        <span class="img">
                            <span>
                                <img src="~/assets/images/content/realty/2.png" alt="alt">
                            </span>
                        </span>
                        <span class="desc">
                            <small>ПРЕМИУМ <span>60 м<sup>2</sup></span></small>
                            <span class="title">2-комнатная квартира</span>
                        </span>
                    </a>
                    <a href="#" class="project-item">
                        <span class="img">
                            <span>
                                <img src="~/assets/images/content/realty/2.png" alt="alt">
                            </span>
                        </span>
                        <span class="desc">
                            <small>ПРЕМИУМ <span>60 м<sup>2</sup></span></small>
                            <span class="title">2-комнатная квартира</span>
                        </span>
                    </a>
                    <a href="#" class="project-item">
                        <span class="img">
                            <span>
                                <img src="~/assets/images/content/realty/2.png" alt="alt">
                            </span>
                        </span>
                        <span class="desc">
                            <small>ПРЕМИУМ <span>60 м<sup>2</sup></span></small>
                            <span class="title">2-комнатная квартира</span>
                        </span>
                    </a>
                </div>

                <ul class="pagination">
                    <li><a href="#" class="active">01</a></li>
                    <li><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                    <li><a href="#">04</a></li>
                    <li><a href="#">05</a></li>
                    <li><a href="#">06</a></li>

                    <li class="arrow prev"><a href="#"></a></li>
                    <li class="arrow next"><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="service-steps-block block-default">
        <div class="wrapper">
            <h2>Что нужно, чтобы заказать ремонт?</h2>

            <ul>
                <li>
                    <h3><a href="#">Расскажите о задаче</a></h3>
                    <p>Опишите задачу, которую необходимо решить.</p>
                </li>
                <li>
                    <h3>Смета и договор</h3>
                    <p>Наш специалист приедет к&nbsp;вам, сделает замеры, рассчитает смету и&nbsp;подготовит договор</p>
                </li>
                <li>
                    <h3>Закупка</h3>
                    <p>Закупаем материалы и&nbsp;бесплатно доставляем к&nbsp;вам.</p>
                </li>
                <li>
                    <h3>Сдача объекта</h3>
                    <p>Вы принимаете каждый этап и&nbsp;после этого его оплачиваете.</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="block-default questions-block">
        <div class="wrapper">
            <header class="block-default__header">
                <h2>Часто&nbsp;задаваемые вопросы</h2>
                <p>Не нашли ответа на свой вопрос? <a href="#">Оставьте заявку</a> и мы вас проконсультируем.</p>
            </header>

            <div class="questions-block__accordions">
                <div class="accordion">
                    <div class="accordion-header">
                        <span>Сколько по времени длится ремонт студии?</span>
                    </div>
                    <div class="accordion-content text-block">
                        <p>Длительность ремонта зависит от многих факторов: от текущего состояния студии, от пожеланий
                            заказчика, от сложности работы. При минимальной сложности и стандартном перечне необходимых
                            работ ремонт студии может занимать от 3-х недель.</p>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-header">
                        <span>Люди каких национальностей работают в ваших бригадах?</span>
                    </div>
                    <div class="accordion-content text-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate eum eveniet maxime
                            modi nostrum quis vero. Debitis eligendi ex excepturi exercitationem magnam minus mollitia
                            nihil quas quod quos, tenetur.</p>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-header">
                        <span>Сколько стоит вызов сметчика на объект?</span>
                    </div>
                    <div class="accordion-content text-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci, asperiores at
                            consectetur consequuntur deleniti ea eius et, ex explicabo fuga illo illum inventore ipsam
                            modi nam obcaecati officia officiis pariatur perferendis praesentium quam quibusdam
                            similique tempora veritatis vero voluptates?</p>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion-header">
                        <span>Предусмотрена ли гарантия на выполненные Вами работы?</span>
                    </div>
                    <div class="accordion-content text-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores autem debitis
                            delectus dignissimos distinctio dolorem ex facere fugit, id illo illum laborum magni maxime
                            molestias natus necessitatibus nihil non omnis perferendis porro quasi saepe temporibus.
                            Aliquam aliquid, asperiores assumenda cumque deserunt inventore magni qui reprehenderit
                            sapiente sint temporibus ut.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="callback-block">
        <div class="bg" style="background-image: url(/assets/images/content/callback-bg.png);"></div>
        <div class="wrapper">
            <form action="#" class="form-default">
                <div class="form-default__message">
                    <p>Ваше сообщение успешно отправлено!</p>
                </div>
                <div>
                    <header>
                        <h2>У вас остались вопросы?</h2>
                        <p>Оставьте свой номер телефона и мы вам поможем</p>
                    </header>
                    <div>
                        <label class="input-container">
                            <input type="tel" placeholder="Ваш номер телефона">
                        </label>
                        <button class="button-default inline" type="submit">оставить заявку</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

