@inherits Umbraco.Web.Mvc.UmbracoViewPage<Service_List_Page>
@{
    Layout = "_Layout.cshtml";


    var Главная                     =  Model.AncestorOrSelf<Home_Page>();
    var urlГлавная                  = Главная.Url;
    var navigation                  = Главная.VisibleChildren();
    var urlОКомпании                = navigation.Where(x => x is About_Page).First().Url;
    
    var ВидыРемонтов                = (Service_List_Page)navigation.Where(x => x is Service_List_Page).First();
    var urlВидыРемонтов             = ВидыРемонтов.Url;
    var urlРемонтКвСтудии           = navigation.Where(x => x is Service_Item_Page).First().Url;

    var urlКонтакты                 = navigation.Where(x => x is Contacts_Page).First().Url;
    var urlВидыРемонтовКвартир      = navigation.Where(x => x is Service_Category_Page).First().Url;
    var urlВыполненныеПроекты       = navigation.Where(x => x is Projects_Page).First().Url;
    var urlРемонт_1ккв              = navigation.Where(x => x is Repair_1kkv_Page).First().Url;
    var urlРемонт_2ккв              = navigation.Where(x => x is Repair_2kkv_Page).First().Url;
    var urlРемонт_3ккв              = navigation.Where(x => x is Repair_3kkv_Page).First().Url;
    var urlРемонт_4ккв              = navigation.Where(x => x is Repair_4kkv_Page).First().Url;

    var abPage                      = navigation.Where(x => x is About_Page).First();

    var urlКартинкаФонаЗаголовка    = Model.HeaderBackgroundImage.ToSafeImage(width: 1920).Url;
    var urlНачальника               = abPage.GetPropertyValue("CompanyExecutivePicture").ToSafeImage().Url;
    var urlПрораба                  = abPage.GetPropertyValue("ConstructionManagerPicture").ToSafeImage().Url;

    var urlPhoto_Callback_bg        = abPage.GetPropertyValue("Photo_Callback_bg").ToSafeImage().Url;

}

    <main>
        <section class="top-block-default">
            <div class="top-block-default__bg rellax-bg">
                <div class="rellax-item" data-rellax-speed="-6"
                     style="background-image: url(@urlКартинкаФонаЗаголовка);"></div>
            </div>
            <div class="wrapper">
                <ul class="breadcrumbs">
                    <li><a href="@urlГлавная">Главная</a></li>
                    <li><a href="#">Услуги</a></li>
                </ul>

                <div class="top-block-default__text">
                    @ВидыРемонтов.CaptionTextOfPage
                    @ВидыРемонтов.BodyTextOfPage
                </div>
            </div>
        </section>

        <section class="block-service">
            <div class="wrapper">
                <div class="block-service__row">
                    <div class="block-service__img">
                        <div class="img">
                            <img src="@ВидыРемонтов.SectionAtUsPhoto.Url" alt="alt">
                        </div>
                        <div class="icon">
                            <svg class="icon icon-service-donation"><use xlink:href="~/assets/images/svg-symbols.svg#icon-service-donation"></use></svg>
                        </div>
                    </div>
                    <div class="text-block block-service__text">
                        @ВидыРемонтов.SectionTextAtUsCaption
                        @ВидыРемонтов.SectionTextAtUsBody
                    </div>
                </div>
            </div>
        </section>

        @Html.Partial("_Section_HowMuch")

        <section class="callback-block">
            <div class="bg" style="background-image: url(@urlPhoto_Callback_bg);"></div>
            <div class="wrapper">
                <form action="#" class="form-default">
                    <div class="form-default__message">
                        <p>Ваше сообщение успешно отправлено!</p>
                    </div>
                    <div>
                        <header>
                            <h2>У вас остались вопросы?</h2>
                            <p>Оставьте свой номер телефона и мы вам поможем</p>
                        </header>
                        <div>
                            <label class="input-container">
                                <input type="tel" placeholder="Ваш номер телефона">
                            </label>
                            <button class="button-default inline" type="submit">оставить заявку</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>

