@inherits Umbraco.Web.Mvc.UmbracoViewPage<Service_List_Page>
@{
    Layout = "_Layout.cshtml";


    var Главная                     =  Model.AncestorOrSelf<Home_Page>();
    var urlГлавная                  = Главная.Url;
    var navigation                  = Главная.VisibleChildren();
    var urlОКомпании                = navigation.Where(x => x is About_Page).First().Url;
    var urlВидыУслуг                = navigation.Where(x => x is Service_List_Page).First().Url;
    var urlРемонтКвСтудии           = navigation.Where(x => x is Service_Item_Page).First().Url;

    var urlКонтакты                 = navigation.Where(x => x is Contacts_Page).First().Url;
    var urlВидыРемонтовКвартир      = navigation.Where(x => x is Service_Category_Page).First().Url;
    var urlВыполненныеПроекты       = navigation.Where(x => x is Projects_Page).First().Url;
    var urlРемонт_1ккв              = navigation.Where(x => x is Repair_1kkv_Page).First().Url;
    var urlРемонт_2ккв              = navigation.Where(x => x is Repair_2kkv_Page).First().Url;
    var urlРемонт_3ккв              = navigation.Where(x => x is Repair_3kkv_Page).First().Url;
    var urlРемонт_4ккв              = navigation.Where(x => x is Repair_4kkv_Page).First().Url;

    var abPage                      = navigation.Where(x => x is About_Page).First();

    var urlКартинкаФонаЗаголовка    = Model.HeaderBackgroundImage.ToSafeImage(width: 1920).Url;
    var urlНачальника               = abPage.GetPropertyValue("CompanyExecutivePicture").ToSafeImage().Url;
    var urlПрораба                  = abPage.GetPropertyValue("ConstructionManagerPicture").ToSafeImage().Url;

    var urlФото_1                   = Model.Photo_1.ToSafeImage().Url;
    var urlФото_2                   = Model.Photo_2.ToSafeImage().Url;
    var urlФото_3                   = Model.Photo_3.ToSafeImage().Url;
    var urlФото_31                  = Model.Photo_31.ToSafeImage().Url;
    var urlФото_32                  = Model.Photo_32.ToSafeImage().Url;
    var urlФото_33                  = Model.Photo_33.ToSafeImage().Url;
    var urlФото_34                  = Model.Photo_34.ToSafeImage().Url;

    var urlPhoto_Callback_bg        = abPage.GetPropertyValue("Photo_Callback_bg").ToSafeImage().Url;
    var urlSvg_Symbol               = Главная.Svg_Symbols.Url;


}

    <main>
        <section class="top-block-default">
            <div class="top-block-default__bg rellax-bg">
                <div class="rellax-item" data-rellax-speed="-6"
                     style="background-image: url(@urlКартинкаФонаЗаголовка);"></div>
            </div>
            <div class="wrapper">
                <ul class="breadcrumbs">
                    <li><a href="@urlГлавная">Главная</a></li>
                    <li><a href="#">Услуги</a></li>
                </ul>

                <div class="top-block-default__text">
                    <h1>Заказать <span class="colored">ремонт квартиры, дома или офиса</span> в Санкт-Петербурге</h1>
                    <p>
                        На этой странице вы узнаете, по каким тарифам мы работаем и ремонт каких типов помещений можно у нас
                        заказать.
                    </p>
                </div>
            </div>
        </section>

        <section class="block-service">
            <div class="wrapper">
                <div class="block-service__row">
                    <div class="block-service__img">
                        <div class="img">
                            <img src="@urlФото_1" alt="alt">
                        </div>
                        <div class="icon">
                            <svg class="icon icon-service-donation"><use xlink:href="@urlSvg_Symbol#icon-service-donation"></use></svg>
                        </div>
                    </div>
                    <div class="text-block block-service__text">
                        <h2>
                            У нас выгодно заказывать
                            ремонт квартиры, дома
                            или офиса
                        </h2>
                        <p>Поможем с выбором стройматериалов, учтем в работе все ваши пожелания, будем работать исключительно в&nbsp;рамках сметы и сделаем все в срок. Также оказываем помощь при приемке квартир и осуществляем контроль чистовых материалов.</p>
                        <p>При заказе комплексного ремонта <span class="colored">дарим подарок на&nbsp;выбор:</span></p>
                        <ul>
                            <li>Технический дизайн помещения</li>
                            <li>Вывоз строительного мусора</li>
                            <li>Скидка за каждый день просрочки</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        @Html.Partial("_Section_HowMuch")

        <section class="callback-block">
            <div class="bg" style="background-image: url(@urlPhoto_Callback_bg);"></div>
            <div class="wrapper">
                <form action="#" class="form-default">
                    <div class="form-default__message">
                        <p>Ваше сообщение успешно отправлено!</p>
                    </div>
                    <div>
                        <header>
                            <h2>У вас остались вопросы?</h2>
                            <p>Оставьте свой номер телефона и мы вам поможем</p>
                        </header>
                        <div>
                            <label class="input-container">
                                <input type="tel" placeholder="Ваш номер телефона">
                            </label>
                            <button class="button-default inline" type="submit">оставить заявку</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>

