<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT navigatable ANY>
<!ATTLIST navigatable id ID #REQUIRED>
<!ELEMENT urlNavigation ANY>
<!ATTLIST urlNavigation id ID #REQUIRED>
<!ELEMENT overviewed ANY>
<!ATTLIST overviewed id ID #REQUIRED>
<!ELEMENT headingBase ANY>
<!ATTLIST headingBase id ID #REQUIRED>
<!ELEMENT keywordsBase ANY>
<!ATTLIST keywordsBase id ID #REQUIRED>
<!ELEMENT languageBase ANY>
<!ATTLIST languageBase id ID #REQUIRED>
<!ELEMENT seoBase ANY>
<!ATTLIST seoBase id ID #REQUIRED>
<!ELEMENT sitemapBase ANY>
<!ATTLIST sitemapBase id ID #REQUIRED>
<!ELEMENT robots ANY>
<!ATTLIST robots id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT websiteSettings ANY>
<!ATTLIST websiteSettings id ID #REQUIRED>
<!ELEMENT scriptsSettings ANY>
<!ATTLIST scriptsSettings id ID #REQUIRED>
<!ELEMENT errorPage ANY>
<!ATTLIST errorPage id ID #REQUIRED>
<!ELEMENT blogPage ANY>
<!ATTLIST blogPage id ID #REQUIRED>
<!ELEMENT service_List_Page ANY>
<!ATTLIST service_List_Page id ID #REQUIRED>
<!ELEMENT service_Category_Page ANY>
<!ATTLIST service_Category_Page id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT home_Page ANY>
<!ATTLIST home_Page id ID #REQUIRED>
<!ELEMENT contacts_Page ANY>
<!ATTLIST contacts_Page id ID #REQUIRED>
<!ELEMENT service_Item_Page ANY>
<!ATTLIST service_Item_Page id ID #REQUIRED>
<!ELEMENT projects_Page ANY>
<!ATTLIST projects_Page id ID #REQUIRED>
<!ELEMENT about_Page ANY>
<!ATTLIST about_Page id ID #REQUIRED>
<!ELEMENT repair_1kkv_Page ANY>
<!ATTLIST repair_1kkv_Page id ID #REQUIRED>
<!ELEMENT repair_2kkv_Page ANY>
<!ATTLIST repair_2kkv_Page id ID #REQUIRED>
<!ELEMENT repair_3kkv_Page ANY>
<!ATTLIST repair_3kkv_Page id ID #REQUIRED>
<!ELEMENT repair_4kkv_Page ANY>
<!ATTLIST repair_4kkv_Page id ID #REQUIRED>
<!ELEMENT imageWithCaption ANY>
<!ATTLIST imageWithCaption id ID #REQUIRED>
<!ELEMENT socialNetwork ANY>
<!ATTLIST socialNetwork id ID #REQUIRED>
]>
<root id="-1">
  <home_Page id="5163" key="7c224b4c-e2c5-4232-bf1b-57676370afa4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-08-29T03:05:02" updateDate="2019-09-08T18:00:53" nodeName="Главная" urlName="home_page" path="-1,5163" isDoc="" nodeType="5160" creatorName="Developer" writerName="Developer" writerID="0" template="5357" nodeTypeAlias="home_Page" isPublished="true">
    <naviTitle><![CDATA[Главная]]></naviTitle>
    <umbracoNavihide>0</umbracoNavihide>
    <umbracoUrlName><![CDATA[/home_page]]></umbracoUrlName>
    <seoNoFollow>0</seoNoFollow>
    <seoNoIndex>0</seoNoIndex>
    <excludeFromSitemap>0</excludeFromSitemap>
    <textPromiss><![CDATA[<p><span>Выполним ремонт любой сложности в любых <br />помещениях </span><span>Санкт-Петербурге и Ленобласти.</span></p>]]></textPromiss>
    <menuMotto><![CDATA[для жизни
для комфорта
для вас]]></menuMotto>
    <svg_Creator><![CDATA[umb://media/a9aebdc62ee946328cfa6a374f47183d]]></svg_Creator>
    <headerBackgroundImage><![CDATA[umb://media/8c378d988a8c400ab9da7e5064d105e9]]></headerBackgroundImage>
    <stringsMotto><![CDATA[Мы делаем
ремонт]]></stringsMotto>
    <service_List_Page id="5175" key="a213c4ad-e9b0-4ac7-9c8e-47ab136d31d8" parentID="5163" level="2" creatorID="0" sortOrder="1" createDate="2019-08-29T05:45:23" updateDate="2019-09-08T12:35:54" nodeName="Список видов услуг" urlName="service_list_page" path="-1,5163,5175" isDoc="" nodeType="5138" creatorName="Developer" writerName="Developer" writerID="0" template="5363" nodeTypeAlias="service_List_Page" isPublished="true">
      <naviTitle><![CDATA[Список услуг]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/service_list_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <headerBackgroundImage><![CDATA[umb://media/bd1833141dca4bb89dd54271c8426d95]]></headerBackgroundImage>
      <photo_1><![CDATA[umb://media/a81aeb635af343a6a5a8995385f52334]]></photo_1>
      <photo_3><![CDATA[umb://media/cea0cd8dbcb24fab96c192934c2abf18]]></photo_3>
      <photo_2><![CDATA[umb://media/20a137adebeb4ce8a8c57f7c40b45176]]></photo_2>
      <photo_34><![CDATA[umb://media/4623d7e8e14d43298d0cec73fbd2fb41]]></photo_34>
      <photo_32><![CDATA[umb://media/c97c31fe59b14979a6b259b3ef5c5842]]></photo_32>
      <photo_33><![CDATA[umb://media/f842eb0fb74e4df89a756b77ef98f368]]></photo_33>
      <photo_31><![CDATA[umb://media/40799f787d2f4242a9e7bcf67be475ca]]></photo_31>
    </service_List_Page>
    <service_Category_Page id="5176" key="4e2811f8-b24d-48f7-a207-5e10aeba10eb" parentID="5163" level="2" creatorID="0" sortOrder="2" createDate="2019-08-29T05:47:05" updateDate="2019-09-08T12:35:27" nodeName="Виды ремонтов квартир" urlName="service_category_page" path="-1,5163,5176" isDoc="" nodeType="5141" creatorName="Developer" writerName="Developer" writerID="0" template="5362" nodeTypeAlias="service_Category_Page" isPublished="true">
      <naviTitle><![CDATA[Виды ремонтов квартир]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/service_category_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <headerBackgroundImage><![CDATA[umb://media/40799f787d2f4242a9e7bcf67be475ca]]></headerBackgroundImage>
    </service_Category_Page>
    <about_Page id="5228" key="7fa672f2-12e3-442f-8237-7f75bde2e694" parentID="5163" level="2" creatorID="0" sortOrder="3" createDate="2019-08-29T06:31:23" updateDate="2019-09-08T12:36:17" nodeName="О компании" urlName="about_page" path="-1,5163,5228" isDoc="" nodeType="5225" creatorName="Developer" writerName="Developer" writerID="0" template="5354" nodeTypeAlias="about_Page" isPublished="true">
      <naviTitle><![CDATA[О компании]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/about_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <photo_2><![CDATA[umb://media/cfcdf6f34eb048329e65edb420ce8652]]></photo_2>
      <photo_Callback_bg><![CDATA[umb://media/25b5f2150a454c348b19733e7396bad5]]></photo_Callback_bg>
      <constructionManagerPicture><![CDATA[umb://media/e5094bb018eb4b9da1b688b304c196d5]]></constructionManagerPicture>
      <photo_1><![CDATA[umb://media/788ae05747144385b590d132aa954a2f]]></photo_1>
      <headerBackgroundImage><![CDATA[umb://media/7906e56b08574d41ac9e18e7ecbe43fd]]></headerBackgroundImage>
      <companyExecutivePicture><![CDATA[umb://media/aae6446f1c1f418087cf609c542a6711]]></companyExecutivePicture>
    </about_Page>
    <contacts_Page id="5229" key="0b120591-9b0e-4cd8-bf5a-4856758cf49e" parentID="5163" level="2" creatorID="0" sortOrder="4" createDate="2019-08-29T06:38:52" updateDate="2019-09-08T12:36:54" nodeName="Контакты" urlName="contacts_page" path="-1,5163,5229" isDoc="" nodeType="5165" creatorName="Developer" writerName="Developer" writerID="0" template="5351" nodeTypeAlias="contacts_Page" isPublished="false">
      <naviTitle><![CDATA[Контакты]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/contacts_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <text_OperatingMode><![CDATA[По будням: c 09 до 20
Суббота:     c 09 до 15.]]></text_OperatingMode>
      <addresss><![CDATA[Санкт-Петербург,
пр. Энгельса, 12]]></addresss>
      <email_1><![CDATA[info@imperio-stroy.ru]]></email_1>
      <label_OpertingMode><![CDATA[Режим работы]]></label_OpertingMode>
      <label_Contacts><![CDATA[Контакты]]></label_Contacts>
      <phoneNumber_2><![CDATA[+7 911 715 32 59]]></phoneNumber_2>
      <phoneNumber_1><![CDATA[+7 951 666 41 46]]></phoneNumber_1>
    </contacts_Page>
    <projects_Page id="5231" key="9ddad3c0-e1e2-47d9-85e7-0016a91c9465" parentID="5163" level="2" creatorID="0" sortOrder="5" createDate="2019-08-29T06:49:18" updateDate="2019-09-08T12:37:15" nodeName="Выполненные проекты" urlName="projects_page" path="-1,5163,5231" isDoc="" nodeType="5172" creatorName="Developer" writerName="Developer" writerID="0" template="5358" nodeTypeAlias="projects_Page" isPublished="true">
      <naviTitle><![CDATA[Выполненные проекты]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/projects_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <headerBackgroundImage><![CDATA[umb://media/8c169f18a4e44305a44ca84ff4cb5fb5]]></headerBackgroundImage>
    </projects_Page>
    <service_Item_Page id="5232" key="f331262c-1603-47bf-998c-48c633e9d47b" parentID="5163" level="2" creatorID="0" sortOrder="6" createDate="2019-08-29T06:52:54" updateDate="2019-09-08T12:37:34" nodeName="Ремонт квартиры-студии" urlName="service_item_page" path="-1,5163,5232" isDoc="" nodeType="5169" creatorName="Developer" writerName="Developer" writerID="0" template="5353" nodeTypeAlias="service_Item_Page" isPublished="true">
      <naviTitle><![CDATA[Ремонт квартиры-студии]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/service_item_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <lastName><![CDATA[Сидоров]]></lastName>
      <firstName><![CDATA[Петров]]></firstName>
      <headerBackgroundImage><![CDATA[umb://media/ee70cb23bdc744e5809dff09e85961d4]]></headerBackgroundImage>
    </service_Item_Page>
    <repair_1kkv_Page id="5259" key="5d7e1b59-8bb9-43ae-b5fb-717d848549d7" parentID="5163" level="2" creatorID="0" sortOrder="7" createDate="2019-09-04T03:00:49" updateDate="2019-09-08T12:37:46" nodeName="Ремонт 1-комнатной квартиры" urlName="repair_1kkv_page" path="-1,5163,5259" isDoc="" nodeType="5250" creatorName="Developer" writerName="Developer" writerID="0" template="0" nodeTypeAlias="repair_1kkv_Page" isPublished="true">
      <naviTitle><![CDATA[Ремонт 1-комнатной квартиры]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <umbracoUrlName><![CDATA[/repair_1kkv_page]]></umbracoUrlName>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <HeaderBackgroundImage><![CDATA[umb://media/87b12c06982747dabba92a136f147aae]]></HeaderBackgroundImage>
      <photo_1kkvo_3><![CDATA[umb://media/dc98b9955152469b885599d3320ec1cb]]></photo_1kkvo_3>
      <textPhoto_1><![CDATA[<h3>Отремонтированная 1-комнатная квартира 1.</h3>
<p>Относительно бюджетный ремонт студии в&nbsp;новостройке в&nbsp;г.Девяткино</p>]]></textPhoto_1>
      <photo_1kkvo_1><![CDATA[umb://media/3ff9c426b5634aebbb01a279baf6f024]]></photo_1kkvo_1>
      <textPhoto_3><![CDATA[<h3>Отремонтированная 1-комнатная квартира 3.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut fugit harum iste labore
laudantium magnam numquam omnis reprehenderit vel!</p>]]></textPhoto_3>
      <photo_1kkvo_2><![CDATA[umb://media/d299475bc0c645d79668c692232c4261]]></photo_1kkvo_2>
      <textPhoto_2><![CDATA[<h3>Отремонтированная 1-комнатная квартира 2.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur autem cum eos error
exercitationem maxime non perferendis praesentium quaerat quam reiciendis repellendus, saepe
similique soluta voluptate, voluptatibus. Asperiores, eos!</p>]]></textPhoto_2>
    </repair_1kkv_Page>
    <repair_2kkv_Page id="5286" key="8ee20ccc-6e97-438c-8036-150d16aa0701" parentID="5163" level="2" creatorID="0" sortOrder="9" createDate="2019-09-04T08:04:54" updateDate="2019-09-08T12:38:02" nodeName="Ремонт 2-комнатной квартиры" urlName="remont-2-komnatnoi-kvartiry" path="-1,5163,5286" isDoc="" nodeType="5274" creatorName="Developer" writerName="Developer" writerID="0" template="5352" nodeTypeAlias="repair_2kkv_Page" isPublished="true">
      <naviTitle><![CDATA[Ремонт 2-комнатной квартиры]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <headerBackgroundImage><![CDATA[umb://media/14458d099fa540e997d59d2eb2be8252]]></headerBackgroundImage>
    </repair_2kkv_Page>
    <repair_3kkv_Page id="5287" key="422ca92a-cd41-4ef2-a918-bc307307e681" parentID="5163" level="2" creatorID="0" sortOrder="10" createDate="2019-09-04T08:07:57" updateDate="2019-09-08T12:38:17" nodeName="Ремонт 3-комнатной квартиры" urlName="remont-3-komnatnoi-kvartiry" path="-1,5163,5287" isDoc="" nodeType="5280" creatorName="Developer" writerName="Developer" writerID="0" template="5360" nodeTypeAlias="repair_3kkv_Page" isPublished="true">
      <naviTitle><![CDATA[Ремонт 3-комнатной квартиры]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <headerBackgroundImage><![CDATA[umb://media/68051373a7dd4055a96ddb092678b063]]></headerBackgroundImage>
    </repair_3kkv_Page>
    <repair_4kkv_Page id="5288" key="3b2ec80e-4ea4-41c2-9765-0635ac637df8" parentID="5163" level="2" creatorID="0" sortOrder="11" createDate="2019-09-04T08:09:11" updateDate="2019-09-08T12:38:35" nodeName="Ремонт 4-комнатной квартиры" urlName="remont-4-komnatnoi-kvartiry" path="-1,5163,5288" isDoc="" nodeType="5282" creatorName="Developer" writerName="Developer" writerID="0" template="5361" nodeTypeAlias="repair_4kkv_Page" isPublished="true">
      <naviTitle><![CDATA[Ремонт 4-комнатной квартиры]]></naviTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <seoNoFollow>0</seoNoFollow>
      <seoNoIndex>0</seoNoIndex>
      <excludeFromSitemap>0</excludeFromSitemap>
      <headerBackgroundImage><![CDATA[umb://media/45535bc0094d4582a92f8054265fe9f6]]></headerBackgroundImage>
    </repair_4kkv_Page>
  </home_Page>
</root>