<?xml version="1.0" encoding="utf-8"?>
<uSync Name="Startup" DateTime="11 сентября 2019 г. 8:22:43">
  <Actions>
    <Action Change="Delete" Success="false" Message="Not found" Name="Robots Disallowed - Checkbox Conditional Displayer" Type="IDataTypeDefinition" />
    <Action Change="Delete" Success="false" Message="Not found" Name="Robots Manual Enabled - Checkbox Conditional Displayer" Type="IDataTypeDefinition" />
    <Action Change="Delete" Success="false" Message="Not found" Name="О нас - naviTitle - Textbox" Type="IDataTypeDefinition" />
    <Action Change="Delete" Success="false" Message="Not found" Name="List View - service_Item_Page" Type="IDataTypeDefinition" />
    <Action Change="Delete" Success="false" Message="Not found" Name="Svg Icons - SVG Icon picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Approved Color" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Checkbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Checkbox list" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Content Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Date Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Date Picker with time" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="DocType_1 - Prop_1 - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Dropdown" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Dropdown multiple" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - HeaderBackgroundImage - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - Home_BackgroundImage - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - ListOfRepairsTypes - Nested Content" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - MenuMotto - Repeatable textstrings" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - MenuPromiss - Repeatable textstrings" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - Mommo - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - PhoneNumber_1 - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - PhoneNumber_2 - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - ServiceОfferingText - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - Svg для WebEvolution - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - Svg_Creator - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - Svg_Cretor - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - Svg_Sybols - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - TextMotto - Markdown editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - TextOfDescription - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - TextPromises - Markdown editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - TextPromises - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - TextPromises - Rich Text Editor (1)" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная - TextPromises - Rich Text Editor (2)" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Svg Icons - SVG Icon picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Image Cropper" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Картинка фона секции консультации" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Картинка Заголовок Текст - TextToPicture - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Контакты - Addresss - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Контакты - Contacts - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Контакты - Email_1 - Email address" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Контакты - OpertingMode - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Контакты - PhoneNumber_1 - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Контакты - PhoneNumber_2 - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Контакты - SocialNetworks - Nested Content" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Контакты - Text_OperatingMode - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Label" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Content" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Media" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - Members" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="List View - BlogPage" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="MadeRepair - Caption - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="MadeRepair - Площадь - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="MadeRepair - Rate - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="MadeRepair - SquareTermRate - Repeatable textstrings" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="MadeRepair - Term - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="MadeRepair - Text - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="MadeRepairProject - PictureOfMadeRepairProject - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Multiple Image Picker - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Single Image Picker - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Member Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Multiple Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Images Captions Texts - Nested Content" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="People - Nested Content Test" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Numeric" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Numeric (1)" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Numeric_" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="О компании - CompanyExecutivePicture - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="О компании - ConstructionManagerPicture - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="О компании - ConstructionMmanagerPicture - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="О компании - HeaderBackgroundImage - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="О компании - Photo_Callback_bg - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Language Relations - Relations Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Radiobox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Related Links" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - BackgroundImage - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - photo_1kkvo_1 - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - photo_1kkvo_3 - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - photo_1kkvo_3 - Media Picker (1)" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - Photo_1_1okv - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - Photo_2_1kkvo - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - Photo_3_1kkvo - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - Текст к фото 1 - Markdown editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - TextPhoto_1 - Markdown editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - TextPhoto_1 - Markdown editor (1)" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - textPhoto_1 - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - textPhoto_2 - Markdown editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - textPhoto_3 - Markdown editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - textPhoto_3 - Markdown editor (1)" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры - textPhoto_3 - Markdown editor (2)" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 2-комнатной квартиры - HeaderBackgroundImage - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 3-комнатной квартиры - HeaderBackgroundImage - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 4-комнатной квартиры - HeaderBackgroundImage - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт квартиры-студии - HeaderBackgroundImage - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Richtext editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="rte test" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="руководитель компании" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="руководитель строительства" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="SocialNetworks - Link - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Список услуг - HeaderBackgroundImage - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Список услуг - Photo_1 - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Список услуг - Photo_2 - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Список услуг - Photo_31 - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Список услуг - Photo_32 - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Список услуг - Photo_33 - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Список услуг - Photo_34 - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Список видов услуг - Photo_3 - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Strings test" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Tags" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Top Heading - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Textstring" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="TitlePictureCaptionTextPrice - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Single Form Picker - Multinode Treepicker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Upload" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Вид ремонта - Caption - Textbox" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Вид ремонта - ListOfRepairWorks - Repeatable textstrings" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Вид ремонта - PictureToTypeRepar - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Вид ремонта - Price up to - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Вид ремонта - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Вид ремонта - TextToPicture - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды ремонтов квартир - HeaderBackgroundImage - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды ремонтов жилья - ListOfRepairRealty - Nested Content" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды ремонтов жилья - Текст тела страницы заголовка - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды ремонтов жилья - Текст заголовка секции У нас выгодно заказывать - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды услуг - BigTextOfPage - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды услуг - bodyTextOfSectionOfRealtyRepairTypes - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды услуг - ListOfRepairsTypes - Nested Content" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды услуг - Section1Title - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды услуг - SectionHowMuchRepair - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды услуг - SectionHowMuchRepairList - Nested Content" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды услуг - SmallTextOfPage - Textarea" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды услуг - TitleOfSectionOfRealtyRepairTypes - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Выполненные проекты - HeaderBackgroundImage - Media Picker" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Выполненные проекты - ListMadeRepair - Nested Content" Type="IDataTypeDefinition" />
    <Action Change="NoChange" Success="true" Message="" Name="Выполненные проекты - TitleMadeRepairs - Rich Text Editor" Type="IDataTypeDefinition" />
    <Action Change="Delete" Success="false" Message="Not found" Name="DebugPage" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="dokTip" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="About" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="DocType_1" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="ServicePageList" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="Projects1" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="HomePage" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="Contacts" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="Projects" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="Service_Item" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="AboutPage" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="About_Page1" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="repair_Of_1_RoomApartment" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="Repaire_1kkv_Page" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="remont1KomnatnoiKvartiry" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="repair_2kkv_Page1" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="Pr" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Блог" Type="ITemplate" />
    <Action Change="Import" Success="true" Message="" Name="Контакты" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="ErrorPage" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="MadeRepairProject" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="Выполненные проекты" Type="ITemplate" />
    <Action Change="Import" Success="true" Message="" Name="Ремонт 2-комнатной квартиры" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="Ремонт 2-комнатной квартиры" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Robots" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Виды ремонтов квартир" Type="ITemplate" />
    <Action Change="Import" Success="true" Message="" Name="Ремонт квартиры-студии" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Sitemap" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="SocialNetworks" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="TypeRepair" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="_Layout" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="О компании" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="О компании" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="About_Page" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="BlogPage" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="BlogPostPage" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="Контакты" Type="ITemplate" />
    <Action Change="Import" Success="true" Message="" Name="Контакты" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="Главная" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Главная" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="Выполненные проекты" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="Projects" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Выполненные проекты" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="Repair_1kkv_Page" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 1-комнатной квартиры" Type="ITemplate" />
    <Action Change="Import" Success="true" Message="" Name="Ремонт 2-комнатной квартиры" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 3-комнатной квартиры" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Ремонт 4-комнатной квартиры" Type="ITemplate" />
    <Action Change="Import" Success="false" Message="Can't get template path (are template files missing?)" Name="Ремонт квартиры-студии" Type="ITemplate" />
    <Action Change="Import" Success="true" Message="" Name="Ремонт квартиры-студии" Type="ITemplate" />
    <Action Change="NoChange" Success="true" Message="" Name="Список услуг" Type="ITemplate" />
    <Action Change="Delete" Success="false" Message="Not found" Name="debugPage" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="aboutPage" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="dokTip" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="aboutPage" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="aboutPage" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="docType_1" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="about" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="service_List_Page" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="homePage" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="contacts" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="projects" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="service_Item" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="projects_Page" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="aboutPage" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="BlogPostPage" Type="IContentType" />
    <Action Change="Delete" Success="false" Message="Not found" Name="compositionsDump" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="navigatable" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="urlNavigation" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="overviewed" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="headingBase" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="keywordsBase" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="languageBase" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="seoBase" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="sitemapBase" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="robots" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="sitemap" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="websiteSettings" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="scriptsSettings" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="home_Page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="contacts_Page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="imageWithCaption" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="madeRepair" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="person" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="socialNetwork" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="typeRepair" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="about_Page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="errorPage" Type="IContentType" />
    <Action Change="Import" Success="true" Message="" Name="Блог" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="repair_1kkv_Page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="repair_2kkv_Page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="repair_3kkv_Page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="repair_4kkv_Page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="service_Item_Page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="service_Category_Page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="service_List_Page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="projects_Page" Type="IContentType" />
    <Action Change="NoChange" Success="true" Message="" Name="File" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="Folder" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="Image" Type="IMediaType" />
    <Action Change="NoChange" Success="true" Message="" Name="en-US" Type="ILanguage" />
    <Action Change="NoChange" Success="true" Message="" Name="ru-RU" Type="ILanguage" />
  </Actions>
</uSync>